/**
 * Thèmes
 */
 @media (prefers-color-scheme: light) {
    :root{
        /** couleurs */
        --sombre: #333;
        --clair: #fff;
        --bleu: blue;
        --violet: purple;
        --rouge: red;
    }
}


@media (prefers-color-scheme: dark){
    :root{
        /** couleurs */
            --sombre: #fff;
            --clair: #222;
            --bleu: cyan;
            --violet: violet;
            --rouge: #FF5F5F;
    }
}

/**
 * Base / reset
 */
html {
    background: var(--clair);
    scroll-behavior: smooth;
}

body {
    color: var(--sombre);
    background: var(--clair);

    max-width: 70ch;
    margin: 2vh auto;
    font: 1.2rem/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1,h2,h3,h4 { line-height: 1.2 }

p {margin-bottom: 2em;}

a{ color:var(--bleu);}
a:active{color:var(--rouge)}
a:visited{color:var(--violet)}
a[target="_blank"]::after{content: '↗';}